html, body {
    background-color: #14453D;
    font-size: 1em;
}

p {
    color: #fcfcfc;
}

.titleHead {
    color: #3DFAFF;
    text-align: center;
}

.textBody {
    color: #A6D9F7;
    font-family: 'Lato', sans-serif;
}

.titleBody {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    text-align: center;
    color: #BCCCE0;
    font-size: 21px;
}

