<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Curriculum Vitae</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<body style="background-color: #14453D">
    <br><br>
    <h3 class="titleHead">
        <span th:if="${visitor != null}" th:text="${visitor} + ', I hope you interested to hire me.'"></span>
        <span th:if="${visitor == null}">This is my CV</span></h3>

    <h5 class="titleHead">Jose Devian's Resume</h5><br><br>

    <p class="textBody" style="text-align: center; margin-left: auto; margin-right: auto;">&nbsp&nbsp Hello, I'm Jose. I'm 19 years old. I'm currently majoring Computer Science<br>
        at Faculty of Computer Science, University of Indonesia.<br>
        I was born in Jakarta, 2 December 1998.<br>
        Currently, I'm living at kos-kosan in Kukusan, Depok City<br><br>
    </p>

    <div class="row">
        <div class="col-sm-6">
            <p class="titleBody">
                EDUCATION
            </p>
            <p class="textBody" style="font-weight: bold; font-size: 19px; text-align: center">Now</p>
            <p class="textBody" style="font-size: 14px; text-align: center">Computer Science, University of Indonesia</p><br><br>
            <p class="textBody" style="font-weight: bold; font-size: 19px; text-align: center">2014-2017</p>
            <p class="textBody" style="font-size: 14px; text-align: center">SMAK 5 Penabur Jakarta</p><br><br>
        </div>
        <div class="col-sm-6">
            <p class="titleBody">EXPERIENCE</p>
            <p class="textBody" style="font-weight: bold; font-size: 19px; text-align: center">COMPFEST 11</p>
            <p class="textBody" style="font-size: 14px; text-align: center">Head of Documentation and Animation</p><br><br>
        </div>
    </div>
</body>
</html>